.navbar {
background-color: #1c3b53;
padding: 20px 0 !important;
}
 .nav-link{
   color: white !important;
}
.form-control:focus , .form-select:focus {
   border-color: transparent !important;
   box-shadow: none !important  ;
}
.form-select:focus , textarea{
   border: 1px solid #dee2e6;
}
.product-form{ 
    margin-top: 30px;
    padding: 30px;
    justify-content: center;
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/941/847/non_2x/cosmetic-background-for-product-branding-and-packaging-presentation-geometry-form-circle-molding-on-podium-stage-with-shadow-of-leaf-background-design-eps10-vector.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
h2 , .form-label{
   color: white !important;
}
.prbtn {
   background-color: #2596be !important;
   margin: 0 auto;
   padding: 10px 15px;
   border-radius: 5px;
   border: none;
   color: white;
   text-align: center;
   transition: all .3s linear;
}
.prbtn:hover{
   background-color: #205464 !important;
}
.center-container {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .delbtn , .editbtn{
   border: none;
   background-color: #2596be;
   color: white;
   transition: all .3s linear;
   border: 1px solid #1c3b53;
 }
 .delbtn:hover , .editbtn:hover {
   background-color: #205464 !important;
 }
 .card-img-top{
   width: 100%;
   height: 250px;
 }
.card-text{
   font-size: 18px !important;
}
.card-price {
   color: black !important;
   font-weight:600;
}